<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Library Styles -->

        <!-- Library Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Custom Styles -->
        <link href="{{ url_for('dashboard.static', filename='dashboard/style.css') }}"  type="text/css" rel="stylesheet" />

        <!-- Custom Javascript -->
        <script src="{{ url_for('dashboard.static', filename='dashboard/main.js') }}"></script>
    
    </head>

    

    <body>

        <!-- Left Sidebar -->


        <!-- Top Header Menu -->

        
        <!-- Page Content-->

        {% block content %}{% endblock %}



    </body>

</html>