<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Library Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

        <!-- Library Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

        <!-- Custom Styles -->

        <!-- Custom Javascript -->

    </head>

    <body>

        <!-- Left Sidebar -->
        {% include 'components/sidebar.html' %}

        <!-- Top Header Menu -->
        {% include 'components/header.html' %}
        
        <!-- Page Content-->
        <div id="page-content" class="pusher">
            {% block content %}{% endblock %}
        </div>
        
        {% include 'components/footer.html' %}


    </body>

</html>

<script>

    $('.ui.sidebar').sidebar({dimPage: false, closable: false}).sidebar('attach events', '#sidebar-switch')



    $("#sidebar-switch").click( function() {
        sidebarHidden = $('.ui.sidebar').sidebar('is hidden')
        $('.ui.sidebar').sidebar('toggle');
        resizeElements(!sidebarHidden);
    });

    // Rezize the header menu and the footer based on sidebar width
    function resizeElements(sidebarHidden) {
        
        if (sidebarHidden) {
            contentWidth = $(window).width();
        } else {
            contentWidth = $(window).width() - $('.ui.sidebar').width();
        }

        $('#page-content').css("padding-top", $('#header-menu').height());
        $('#header-menu').width(contentWidth);
        $('#footer').width(contentWidth);
        $('#page-content').width(contentWidth);

    }

    $(window).resize(function() {
        sidebarHidden = $('.ui.sidebar').sidebar('is hidden')
        resizeElements(sidebarHidden)
    });

    $(document).ready(function() {
        resizeElements(false)
    });


</script>